* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 10px;
     background: url('http://www.lerepairedesmotards.com/img/wallpapers/wallpaper-repaire-16_hd.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Header/Blog Title */
.header {
    padding: 30px;
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
    padding:0.5px;

}


/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}




input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=submit]:hover {
    background-color: grey;
}

div {
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
}



/* Footer */
.footer {
    padding: 20px;
    text-align: left;
    background: #ddd;
    background-color: white;
    margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
        width: 100%;
        padding: 0;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}